# Python
__pycache__/
*.pyc
.venv/
.env

# Databricks
.databricks/
.bundle/

# Kaggle credentials - never commit this
kaggle.json

# Data files - do not commit raw data to GitHub
data/
*.csv
*.zip
*.parquet
*.delta

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db